{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
  Confirmar Exclusão
{% endblock title %}

{% block main %}
<div class="container mt-3">
  <div class="row">
    <div class="col"></div>
    <div class="col-5 d-flex align-items-center">
      <h1 class="text-info">Deseja Deletar {{ person.first_name }}?</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      </div>
    <div class="col-3 d-flex align-items-center"><button type="submit" class="btn btn-danger">Deletar</button></div>
    </form>
  </div>

{% endblock %}